@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  color: #2b2929;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  justify-content: center;
  align-items: center;
  position: relative;
}

header {
  width: 100%;
  background-color: #beefe5;
  height: 80px;
  padding: 0 40px;
  margin-bottom: 10px;
  position: sticky;
}

.logo img{
  height: 70px;
}

.navbar {
  padding: 0;
}

.navbar ul li a{
  color:#000;
}

form {
  display: flex;
  align-items: center;
}

input {
  outline: none;
  border-radius: 5px;
  border: 1px solid #20a88b;
  height: 30px;
  margin-right: 5px !important;
  padding: 0 10px;
  color: #20a88b;
}

.btn {
  height: 30px;
  width: 30px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: #fff !important;
  outline: none;
  color: #20a88b !important;
}

.banner {
  width: 100vw;
}

.products {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.card-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  text-align: center;
  padding: 15px;
  margin: 0 10px;
  border-radius: 10px;
  position: relative;
  transition: ease-in-out 0.2s;
  box-shadow: 0 3px 6px #00000029;
}

.card-product:hover {
  cursor: pointer;
  scale: 1.05;
  transition: ease-in-out 0.2s;
  box-shadow: 0 3px 6px #00000049;
}

.imagem {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 200px;
}

.title {
  font-weight: 500;
  font-size: 1.1rem;
  text-transform: uppercase;
  color: #121b21;
}

p {
  color: #5e5d5d;
}

.price {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

small {
  text-decoration: line-through;
  color: #fb492b;
}

.discount {
  color: #20a88b;
  font-size: 1.1rem;
  font-weight: 600;
}

.percent {
  background-color: #20a88b;
  border-radius: 25%;
  position: absolute;
  padding: 5px;
  top: 10px;
  right: 10px;
  color: #ffffff;
  font-weight: 600;
}

.btn-add {
  width: 100%;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 0 0 10px 10px;
  border: none;
  cursor: pointer;
  padding: 10px;
  background-color: #20a88b;
  text-transform: uppercase;
  font-weight: 500;
}